body {
  margin: 0;
  background: #000;
  font-family: 'Playfair Display', serif;
  overflow: hidden;
}

/* ENTRY SCREEN */
.entry {
  position: fixed;
  width: 100%;
  height: 100vh;

  background: radial-gradient(circle at center, #021d1a 0%, #000 80%);
  
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
}/* Doors */
.door {
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(to bottom, #021d1a, #000);
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

/* Button */
button {
  margin-top: 20px;
  padding: 10px 25px;
  border: 1px solid #d4af37;
  background: transparent;
  color: #d4af37;
  font-size: 1rem;
  cursor: pointer;
}

/* Inner */
.entry-inner {
  text-align: center;
  color: #d4af37;
}

/* Title */
.entry-inner h1 {
  font-size: 2.8rem;
  letter-spacing: 3px;
  opacity: 0;
}

/* Subtext */
.entry-inner p {
  margin-top: 10px;
  opacity: 0;
  color: #aaa;
}

/* MAIN */
.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
opacity: 0;   /* hidden initially */
  background:
    radial-gradient(circle at center, rgba(2,44,34,0.6), #000),
    url('https://www.transparenttextures.com/patterns/dark-matter.png');

  opacity: 0;
}

/* CARD */
.card {
  text-align: center;
  color: white;
}

/* NAMES */
.card h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 3.5rem;
  color: #d4af37;
  text-shadow: 0 0 20px rgba(212,175,55,0.5);
}

.card span {
  font-size: 2rem;
}

/* TEXT */
.line {
  margin: 10px 0;
  opacity: 0.7;
}

.date, .time, .venue {
  margin: 10px 0;
  font-size: 1.1rem;
}

/* DIVIDER */
.divider {
  width: 60px;
  height: 1px;
  background: #d4af37;
  margin: 20px auto;
}